:host {
  display: block;
}
:host .close-icon {
  font-style: normal;
  font-size: 12px;
}
:host .switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  overflow: hidden;
}
:host .float-right {
  float: right;
}
:host .switch-title {
  margin-bottom: 6px;
}
/* :host .form-control {
  display: inline-block;
  padding: 4px 8px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
} */
:host .switch-field input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}
:host .switch-field button {
  margin-left: 8px;
  background-color: white;
}
:host .switch-field label {
  background-color: #e4e4e4;
}
:host .switch-field label, :host .switch-field button {
  float: left;
  min-width: 30px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 4px 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
:host .switch-field label:hover, :host .switch-field button:hover {
  cursor: pointer;
  background-color: #F0F0F0;
}
:host .switch-field label.success, :host .switch-field button.success {
  color: #75BE47;
}
:host .switch-field label.danger, :host .switch-field button.danger {
  color: #B3415D;
}
:host .switch-field input:checked + label {
  border: 1px solid #619ed7;
  background: white;
  color: #3176b3;
}
:host .invalid-ruleset {
  border: 1px solid rgba(179, 65, 93, 0.5) !important;
  background: rgba(179, 65, 93, 0.1) !important;
}
:host .empty-warning {
  color: #8d252e;
  text-align: center;
}
:host .query-tree {
  list-style: none;
  margin: 4px 0 2px;
}
:host .query-tree .query-item {
  position: relative;
  padding: 4px 6px;
  margin-top: 4px;
  border: 1px solid #CCCCCC;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
:host .query-tree .query-item.ruleset {
  background: rgba(204, 204, 204, 0.2);
}
:host .query-tree .query-item.ruleset:hover {
  border: 1px solid rgba(97, 158, 215, 0.5);
  background: rgba(97, 158, 215, 0.1);
}
:host .query-tree .query-item.rule {
  background: white;
}
:host .query-tree .query-item::before {
  top: -5px;
  border-width: 0 0 2px 2px;
}
:host .query-tree .query-item::after {
  border-width: 0 0 0 2px;
  top: 50%;
}
:host .query-tree .query-item::before, :host .query-tree .query-item::after {
  content: '';
  left: -12px;
  border-color: #CCC;
  border-style: solid;
  width: 9px;
  height: calc(50% + 6px);
  position: absolute;
}
:host .query-tree .query-item:last-child::after {
  content: none;
}
:host .errorInput {
  border: 1px solid red;
  color: #8d252e;
}

/*rule when css */
ul.ruleWhenWrapper, .ruleWhenWrapper li {
  list-style: none;
  margin: 0;
  padding:0;
}

.ruleWhenWrapper {
  /* max-height: 230px; */
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
}
.ruleWhenWrapper .ruleWhenWrapper{
  padding:0 10px;
  max-height: 100%;
}

.ruleWhenWrapper>.ruleWhenRow {
  border-bottom: solid 2px #E4E3E3;
  padding: 7px 0;
}
.ruleWhenWrapper .ruleWhenWrapper .ruleWhenRow:last-child {
  border-bottom: none;
}

.rulesWhenLink {
  display: inline-block;
  margin: 5px 2px;
}

.ruleWhenRow .col-md-4, .ruleWhenRow .col-md-3 {
  padding-right: 0;
}

.queryBuilderWrapper .queryBuilderWrapper {
  padding: 10px 10px 10px 15px;
  background: #f6f6f6;
}

.queryBuilderWrapper .queryBuilderWrapper:hover {
  background: #eff5fb;
}
.btn-icon {
  font-style: normal;
  font-size: 12px;
  color: #fff;
  font-size: 20px;
  margin: 0 5px 0 -1px;
}
.ruleButton {
  line-height: 32px;
  margin-bottom: 10px;
}
.removeRule {
  line-height: 32px;
  height:32px;
}

.textEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.textPopupOverflow {  
  padding-right: 20px;
}
.textPopup {
  margin-top: -35px;
  float: right;
  width: 30px;
  height: 30px;
}
.textPopupIcon {
  width:16px;
  height: 16px;
  font-size: 16px;
  line-height: 13px !important;
}