<!--Breadcrumb-->
<div class="row cclBreadcrumb">
  <div class="col-md-3 breadcrumbLeft">
    OTHERS
    <i class="breadcrumbIcon">
      <img src="assets/images/img-trans-upload.png">
    </i>
  </div>
  <div class="col-md-9 headWrapper">
    <h2>Non-Transaction Reference Data</h2>
  </div>
</div>
<div class="contentWrapper" appAutoHeight>
  <br />
  <form [formGroup]="form" class="form-horizontal row">
    <app-upload-file [fileUploadForm]="form.controls.fileUploadForm" [enableTransactionDate]=false [fileType]="fileType"></app-upload-file>
  </form>
</div>