.snackBarIcon ::ng-deep {
    display: inline-flex;
    vertical-align: middle;
    margin: -2px 5px 0;
}

@-webkit-keyframes dot-keyframes {
    0% {
      opacity: .4;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    50% {
      opacity: 1;
      -webkit-transform: scale(1.2, 1.2);
              transform: scale(1.2, 1.2);
    }
    100% {
      opacity: .4;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
  }
  @keyframes dot-keyframes {
    0% {
      opacity: .4;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    50% {
      opacity: 1;
      -webkit-transform: scale(1.2, 1.2);
              transform: scale(1.2, 1.2);
    }
    100% {
      opacity: .4;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
  }
  /* .loading-dots {
    text-align: center;
    width: 100%;
  } */
  .loading-dots--dot {
    -webkit-animation: dot-keyframes 1.5s infinite ease-in-out;
            animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: inline-block;
    height: 7px;
    width: 7px;
  }
  .loading-dots--dot:nth-child(2) {
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
  }
  .loading-dots--dot:nth-child(3) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  