<div class="rulesBox">
    <h2>{{heading}}</h2>
    <h3>Create rules with all selected conditions</h3>

<div >
    <div class="form-row">
        <input class="form-control" maxlength="250" name="rname" #rname="ngModel" required placeholder="Guided Rule Name" [(ngModel)]="ruleName" [ngClass]="{'errorInput': ((rname.value && rname.value.trim() === '')|| rname.invalid) && (rname.dirty || rname.touched)}">
    </div>
    <div class="row ruleBoxMargin">
        <div class="col-md-8 BorderDashR">
            <h3>When</h3>
            <app-query-builder [data]="query" [config]="config"></app-query-builder>
            <div class="rulesRequired" [ngClass]="{'show':query.rules && query.rules.length==0}">Please add at least one Rule!</div>
        </div>
        <div class="col-md-4">
            <h3>Then</h3>            
            <div class="row">
                <div class="activityName">
                    <h3>Activity Name</h3>
                </div>
                <div class="activityTree">
                    <div class="activityRequired" [ngClass]="{'show':activity && !activity.isValid}">{{activityRequiredMsg}}</div>
                    <app-activity-hierarchy [activity]="activity" (onActivitySelected)="onActivitySelected($event)"></app-activity-hierarchy>
                    <div class="activityStartEndRequired" [ngClass]="{'show':!isFormValid && !isRuleStarted && !isRuleCompleted}">Please select start or end activity!</div>
                    <div class="activityCheckBox">
                        <mat-checkbox color="theme-blue" [checked]="isRuleStarted" [(ngModel)]="isRuleStarted">Activity Started</mat-checkbox>
                        <mat-checkbox color="theme-blue" [checked]="isRuleCompleted" [(ngModel)]="isRuleCompleted">Activity Completed</mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="formFooter">
        <div class="row">
            <div class="col-md-8">
                <button *ngIf="viewMode=='EDIT'" mat-raised-button color="theme-blue" class="Rulesbtn" [disabled]="isProcessing" (click)="deleteRule(data.rule)">Delete</button>
            </div>
            <div class="col-md-4 btnWrapper">
                <button type="submit" mat-raised-button color="theme-blue" class="Rulesbtn" [disabled]="isProcessing" (click)="saveRule(query)">Save</button>
                <button mat-raised-button color="grey" class="Rulesbtn" [disabled]="isProcessing" (click)="closeRule()">Cancel</button>
            </div>
        </div>

    </div>


    <!-- <div class="footerAction">
    <button mat-raised-button class="deletebuttonClass" (click)="deleteRule()">Delete</button>
    <button mat-raised-button class="savebuttonClass"  (click)="saveRule(query)">Save</button>
    <button mat-raised-button class="cancelbuttonClass" mat-dialog-close >Cancel</button>
</div> -->

</div>